
@media (max-width: $width-lg){
    .container {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, .large-font {
    margin: 0;
    padding: 0 0 20px 0;
    line-height: 130%;
    text-transform: uppercase;
    font: 300 30px/30px "Ubuntu", sans-serif
}

select, input {
    font-family: 'Ubuntu';
}

a {
    @include transitions(0.5s);
}

p {
    padding: 0;
    margin: 0;
    line-height: 150%;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}


h2 {
    span {
        display: inline-block;
        padding: 6px 10px;
        background-color: $clr-grey-light;
        color: $clr-grey-dark;
        margin-bottom: 1px;
    }
}


