
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$clr-grey-dark:     #444444;

$clr-orange:        #FD7400;
$clr-yellow:        #FFE11A;
$clr-green-light:   #BEDB39;
$clr-green-dark:    #004358;
$clr-green-mid:     #1F8A70;

$border-clr:        $clr-green-light;
$header-clr:        $clr-green-mid;