@import "variables";
@import "mixins";
@import "fonts";
@import "overrides";

body {
    font-family: 'Lato';
    font-size: 1.6rem;
}

.video {
    padding: 20px 0;

    .feedback {
        padding-top: 20px;
    }

    #fullPlayer {
        background: $clr-grey-light;
        position: relative;
        overflow: hidden;
    }

    #playToolBar {

        #videoTime {
            color: $clr-green-dark !important;
            font-size: 0.8em;
        }

        .btn {
            border-color: $clr-grey-light;
            border-bottom: none !important;
        }

        a {
            background: $clr-grey-light;
            border-left: none !important;

            span {
                color: $clr-grey-dark;
            }

            &:nth-last-child(2){
                border-right: none !important;
            }

            &:hover {
                background: $clr-grey-dark;
                span {
                    color: $clr-green-light;
                }
            }
        }
    }
}

.top-bar {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 70px;
    position: fixed;

    background: #ffffff;
    border-bottom: 1px solid #ffffff;

    -webkit-box-shadow: 0 3px 11px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 3px 11px 0 rgba(0,0,0,0.10);
    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.10);
    @include transitions(0.5s);


    .mortar-and-pestle {
        float: left;
        width: 28px;
        height: 45px;
        background: url('../images/m-and-p.png');
        background-size: cover;
        margin: 9px 12px 0 0;
    }

    h1 {
        //font-weight: 600;
        //font-size: 3.8rem;
        margin: 0;
        padding: 0;
        line-height: 70px;
        color: $header-clr;
        float: left;
        @include transitions(0.5s);

        @media (max-width: $width-sm){
            .text {
                display: none;
            }
        }
    }

    &.top {
        background: none;
        border-bottom: 1px solid $border-clr;

        h1 {
            color: #ffffff;
            @extend %textshadow;
        }

        box-shadow: none;

        .mortar-and-pestle {
            background: url('../images/m-and-p-white.png');
            background-size: cover;
        }
    }
}

.meal-hero {
    position: relative;

    .btn-menu {
        position: absolute;
        left: 0;
        bottom: 25px;
    }

    .hero-image,
    .hero-video {
        background-size: cover;
        position: absolute;
        background-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transitions(0.25s);
    }

    .hero-video {
        opacity: 0;
        &.on-screen {
            opacity: 1;
        }
        background: url("../images/pepper-soup.jpg") 0 0 no-repeat #323232;
        background-size: cover;
    }

    .meal-picker {
        position: absolute;
        left: 0;
        bottom: 30px;

        .btn, select  {
            text-transform: uppercase;
            padding: 10px 14px;
            margin: 0 15px 0 0;
            outline: none;
            border: none;
            @include transitions(0.25s);
            display: inline-block;
            font-size: 1.8rem;
        }

        select {
            cursor: pointer;
            padding: 10px 14px;
            @include border-radius(3px);

            @media (max-width: $width-sm) {
                display: inline-block;
            }
        }
    }

    .introduction {
        position: absolute;
        bottom: 80px;
        left: 0;
        color: #ffffff;
        width: 100%;

        h2 {
            @extend %textshadow;
            padding: 0;
            line-height: 120%;
        }

        .landing-title {
            font-size: 3.5rem;
        }

        .title {
            font-size: 3.0rem;
            max-width: 50%;

            @media (max-width: $width-sm) {
                max-width: 100%;
            }
        }

    }

    .intro-and-form {
        position: relative;
        height: 240px;
    }
}

#wrap {
    min-height: 300px;
}

.show-me {
    display: block !important;
}

.aux-nav {

    float: right;
    @extend %cleanUl;

    li {
        float: left;
    }

    a {
        color: $clr-green-dark;
        padding: 0 12px !important;
        cursor: pointer;

        span {
            font-size: 1.6em;
        }

        .text {
            display: none;
        }
        &:hover {
            background-color: transparent !important;
        }
    }
}

.top {
    .aux-nav {
        a {
            color: #ffffff;
            @extend %textshadow;

            &:hover {
                color: $clr-green-dark;
                text-shadow: none;

            }
        }
    }
}

.mode-container {
    padding-top: 330px;
}

.detail-view,
.list-view {

    .content-block {

        ul, ol {
            padding-bottom: 10px;
        }
        padding-bottom: 30px;
    }

    .full-scale-img {
        width: 100%;
    }

    .introduction {
        background-color: $clr-grey-dark;
        padding: 20px 0;
        border-top: 1px solid lighten($clr-grey-dark, 20%);
        color: #ffffff;
        border-bottom: 1px solid $clr-green-light;

        p {
            line-height: 180%;
            font-size: 1.8rem;
        }

        @media (min-width: $width-sm){
            text-align: center;
        }
    }

    .meals {
        float: left;
        @extend %cleanUl;
        width: 100%;

        .meal {
            float: left;
            width: 25%;

            @media (max-width: $width-lg){
                width: 50%;
            }

            @media (max-width: $width-sm){
                width: 100%;
            }

            a {
                display: block;
                text-decoration: none;
                margin: 0 5px;

                img {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .sub-title {
                    padding-bottom: 0;
                }

                @media (max-width: $width-md){
                    margin: 0;
                }
            }
        }
    }

    .title {
        color: $header-clr;
        padding: 30px 0;

        @media (max-width: $width-md){
            padding-top: 0;
        }

        @media (max-width: $width-xs){
            font-size: 2.8rem;
        }
    }

    .meet-chef {
        padding: 20px 0;
        border-bottom: 1px solid $clr-grey-light;

        .chef-intro {
            min-height: 100%;
            height: 100%;

            p {
                line-height: 180%;
                font-size: 1.8rem;
            }
        }

        .chef-image {
            padding: 30px 0;

            @media (max-width: $width-md){
                display: none;
            }
        }
    }
}

.block {
    float: left;
}

.aux-nav {
    padding-top: 20px;
}

.content-controls {
    border-bottom: 1px solid $border-clr;
    margin: 20px 0;
    overflow: auto;

    ul {
        padding-bottom: 10px;
        @extend %cleanUl;
    }
}

.centered-copy,
.centered-text {
    text-align: center;

    @media (max-width: $width-md){
        text-align: left;
    }
}

.centered-copy {
    padding-bottom: 30px;
}

.footer {
    border-top: 10px solid $border-clr;
    padding: 30px;
    background-color: $clr-grey-dark;
    color: #ffffff;
}

.most-cooked,
.shop-meal {
    border-top: 1px solid lighten($clr-grey-dark, 62%);
    background-color: $clr-grey-light;
    padding: 20px 0;

    @media (max-width: $width-sm){
        .form-control {
            width: auto;
            float: left;
        }

        .form-group {
            margin-bottom: 0;
        }
    }



}

.our-testimonials {
    padding: 20px 0;

    blockquote {
        border: none;
        padding: 0 0 30px 0;

        i {
            color: $clr-green-light;
            font-size: 2.0em;
        }
    }

    @media (max-width: $width-md){
        blockquote {
            padding: 0;
        }
    }
}

.media-links {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 40px;
    overflow: auto;

    ul {
        width: 100%;
        margin: 0;
    }

    span {
        display: none;
    }

    li {
        margin: 0;
        padding: 0 10px;
        width: 25%;
        float: none;
        display: inline-block;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 1.8em;
        padding: 20px 0;
        color: $clr-green-light;
        border-bottom: 1px solid $clr-green-light;
        text-align: center;

        &:hover,
        &:focus{
            color: #ffffff;
            background-color: $clr-grey-dark !important;
            border-bottom: 1px solid #ffffff;
        }
    }

    @media (max-width: $width-sm){
        width: 100%;

        a {
            font-size: 1.2em;
        }
    }
}

.cook-meal {
    padding: 20px 0;
}

.strapline {
    margin-top: -10px;
    margin-bottom: 20px;
}

.pipe {
    color: $clr-green-mid;
}

.steps {

    .sub-title {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    ul {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    @media (max-width: $width-md){

        ul {
            margin-bottom: 20px;
        }

        .sub-title {
            margin-top: 0;
        }
    }
}

@import "video";

#mapBox {
    height: 0;
    background-color: $clr-grey-light;
    overflow: hidden;
    transition: height 0.25s;

    &.open {
        height: 580px;
    }

    .navbar-nav {
        width: 100%;
        height: 80px;
        text-align: center;
        margin: 0;

        > li {
            float: none;
            display: inline-block;

            a {
                cursor: pointer;
                text-decoration: none;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}


.btn-group-wrap {
    text-align: center;
    border-bottom: 1px solid $clr-green-dark;
}


