
$clr-dark-gray:     #444;

@import "variables";
@import "mixins";
@import "fonts";
@import "overrides";

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
    margin: 0;
    padding: 0;
    color: #ffffff;
    line-height: 70px;
    @extend %textshadow;

	@media (max-width: $width-xs) {
    	font-size: 3rem;
		text-align: center;
	}
}

$heroHeight:   500px;

.meal-hero {
    height: $heroHeight;
    overflow: hidden;
    position: relative;

    .hero-image,
    .hero-video {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $heroHeight;
        @include transitions(0.25s);
    }

    .hero-video {
        &.off-screen {
            top: -$heroHeight;;
        }
        background: url("../images/pepper-soup.jpg") 0 0 no-repeat #323232;
        background-size: cover;
    }

    .top-bar {
        height: 70px;
        border-bottom: 1px solid #e3e3e3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .form-box {
        position:absolute;
        bottom: 40px;
        left:50%;
        margin-left:-50%;
    }

    .meal-picker {
        padding-top: 30px;
        text-align: center;

        .btn, select  {
            text-transform: uppercase;
            padding: 10px 14px;
            margin: 0 5px;
            outline: none;
            border: none;
            @include transitions(0.25s);
            display: inline-block;
        }

        select {
            cursor: pointer;
            padding: 10px 14px;
            @include border-radius(3px);

            @media (max-width: $width-sm) {
                display: inline-block;
            }
        }
    }

    .introduction {
        color: #ffffff;
        text-align: center;
        @extend %textshadow;
    }
}


.list-view {

    .introduction {
        font-size: 1.8rem;
        background-color: #f0f0f0;
        padding: 30px;
        text-align: center;
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;

//
//        -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
//        -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
//        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    }

    .meal {

        .item {

            margin-bottom: 25px;

            a {
                position: relative;
                text-decoration: none;
                display: block;

                img {
                    width: 100%;
                }

                .title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #FFFFFF;
                    font-size: 2.7rem;
                    font-weight: bold;
                    @extend %textshadow;
                    width: 100%;
                }

                .glyphicon {
                    display: none;
                }
            }

            .quick-description {
                color: $clr-dark-gray;
                background-color: #f0f0f0;
                border: 1px solid #e3e3e3;
            }

            span {
                padding: 10px 15px;
                display: block;
                text-align: left;
            }


            @media (max-width: $width-md) {

                margin-bottom: 5px;

                a {

                    .title {
                        position: static;
                        color: $clr-dark-gray;
                        background-color: #f0f0f0;
                        border: 1px solid #e3e3e3;
                        text-shadow: none;
                        font-size: 1.8rem;
                        font-weight: 100;
                        padding: 8px 10px;
                    }

                    .glyphicon {
                        display: block;
                        position: absolute;
                        right: -4px;
                        top: 0;
                        font-size: 2.5rem;
                        color: $clr-dark-gray;
                    }


                    img {
                        display: none;
                    }
                }

                .quick-description {
                    display: none;
                }

            }
        }
    }

    .title {
        color: $clr-dark-gray;
        text-align: center;
        padding: 30px;

        @media (max-width: $width-xs){
            font-size: 2.8rem;
            padding: 15px;
        }
    }

    .sub-module {

        padding-bottom: 35px;

        .title {
            font-size: 2.5rem;
            padding: 10px;
            color: $clr-dark-gray;
            text-align: center;
            font-weight: bold;
        }

        @media (max-width: $width-xs){

            .title {
                font-size: 1.8rem;
            }

            &:first-child {
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }

    }
}

.centered-copy {
    text-align: center;
}

.footer {
    border-top: 10px solid greenyellow;
    height: 200px;
    background-color: $clr-dark-gray;
}

.detail-view {
    h2 {
        text-align: center;
        color: #444444;
        margin: 0;
    }
}