
$clr-dark-gray:     #444;

@import "variables";
@import "mixins";
@import "fonts";
@import "overrides";

h1 {
    font-size: 3.6rem;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 70px;

	@media (max-width: $width-xs) {
    	font-size: 4rem;
		text-align: center;
	}
}

$heroHeight:   500px;

.meal-hero {
    height: $heroHeight;
    overflow: hidden;
    position: relative;

    .hero-image,
    .hero-video {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $heroHeight;
        @include transitions(0.25s);
    }

    .hero-video {
        background-color: #323232;
        border-bottom: 1px solid #000000;
        &.off-screen {
            top: -$heroHeight;;
        }
    }

    .top-bar {
        height: 70px;
        border-bottom: 1px solid #a3a3a3;
    }

    .form-box {position:absolute;
        bottom: 40px;
        left:50%;
        margin-left:-50%;
    }

    .meal-picker {
        padding-top: 30px;
        text-align: center;

        .btn, select  {
            text-transform: uppercase;
            padding: 10px 14px;
            margin: 0 5px;
            outline: none;
            border: none;
            @include transitions(0.25s);
            display: inline-block;
        }

        select {
            cursor: pointer;
            padding: 11px 14px;
            @include border-radius(3px);

            @media (max-width: $width-sm) {
                display: inline-block;
            }
        }
    }

    .introduction {
        color: #ffffff;
        text-align: center;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
    }
}


.list-view {
    min-height: 700px;

    .introduction {
        background-color: #f0f0f0;
        padding: 30px;
        text-align: center;
    }

    .container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .meal {

        padding-bottom: 30px;

        .item {

            a {
                position: relative;
                text-decoration: none;
                transition: 0.3s;
                display: block;

                img {
                    width: 100%;
                }

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #ffffff;
                    padding: 20px;
                    font-family: 'poundedYam';
                }
            }
        }
    }

    .title {
        font-size: 4.2rem;
        padding: 20px;
        color: $clr-dark-gray;
        text-align: center;

        @media (max-width: $width-xs){
            font-size: 2.8rem;
        }
    }

    .sub-title {
        font-size: 2.6rem;
        padding: 10px;
        color: $clr-dark-gray;
        text-align: center;

        @media (max-width: $width-xs){
            font-size: 1.8rem;
        }
    }
}

.centered-copy {
    text-align: center;
}

.footer {
    height: 200px;
    background-color: $clr-dark-gray;
}

.detail-view {
    h2 {
        text-align: center;
        color: #444444;
        margin: 0;
    }
}