@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.detail-view .meals,
.list-view .meals, .content-controls ul, .media-links {
  margin: 0;
  padding: 0;
  list-style: none; }

.top-bar.top h1, .meal-hero .introduction h2 {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.75); }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }

h1, h2, h3, h4, h5, .large-font {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 100%;
  text-transform: uppercase;
  font: 300 30px/30px "Ubuntu", sans-serif; }

select, input {
  font-family: 'Ubuntu'; }

p {
  padding: 0;
  margin: 0;
  line-height: 150%; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

h2 span {
  display: inline-block;
  padding: 6px 10px;
  background-color: #f2f2f2;
  color: #444444;
  margin-bottom: 1px; }

body {
  font-family: 'Ubuntu';
  font-size: 1.6rem; }

a {
  color: #1F8A70;
  text-decoration: underline; }
  a:hover {
    color: #004358;
    text-decoration: none; }

.top-bar {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .top-bar .mortar-and-pestle {
    float: left;
    width: 28px;
    height: 45px;
    background: url("../images/m-and-p.png");
    background-size: cover;
    margin: 9px 12px 0 0; }
  .top-bar h1 {
    margin: 0;
    padding: 0;
    line-height: 70px;
    color: #1F8A70;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .top-bar.top {
    background: none;
    border-bottom: 1px solid #BEDB39;
    box-shadow: none; }
    .top-bar.top h1 {
      color: #ffffff; }
    .top-bar.top .mortar-and-pestle {
      background: url("../images/m-and-p-white.png");
      background-size: cover; }

.meal-hero {
  position: relative; }
  .meal-hero .hero-image,
  .meal-hero .hero-video {
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
  .meal-hero .hero-video {
    opacity: 0;
    background: url("../images/pepper-soup.jpg") 0 0 no-repeat #323232;
    background-size: cover; }
    .meal-hero .hero-video.on-screen {
      opacity: 1; }
  .meal-hero .meal-picker {
    position: absolute;
    left: 0;
    bottom: 30px; }
    .meal-hero .meal-picker .btn, .meal-hero .meal-picker select {
      text-transform: uppercase;
      padding: 10px 14px;
      margin: 0 15px 0 0;
      outline: none;
      border: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      display: inline-block;
      font-size: 1.8rem; }
    .meal-hero .meal-picker select {
      cursor: pointer;
      padding: 10px 14px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
      @media (max-width: 768px) {
        .meal-hero .meal-picker select {
          display: inline-block; } }
  .meal-hero .introduction {
    position: absolute;
    bottom: 80px;
    left: 0;
    color: #ffffff;
    width: 100%; }
    .meal-hero .introduction h2 {
      padding: 0;
      line-height: 120%; }
    .meal-hero .introduction .landing-title {
      font-size: 3.5rem; }
    .meal-hero .introduction .title {
      font-size: 3.0rem;
      max-width: 50%; }
  .meal-hero .intro-and-form {
    position: relative;
    height: 240px; }

#wrap {
  min-height: 300px; }

.aux-nav {
  display: none; }
  .aux-nav.show-me {
    display: block; }

.introduction.copy {
  display: none; }
  .introduction.copy.show-me {
    display: block; }

.welcome-text {
  text-align: center;
  padding-bottom: 15px; }
  .welcome-text h2 {
    font-size: 3.8rem;
    text-align: center;
    padding: 20px 0 20px 0;
    color: #1F8A70; }
  .welcome-text .strapline {
    font-size: 2.0rem;
    font-weight: 100;
    text-transform: uppercase; }
  .welcome-text hr {
    width: 200px;
    color: #1F8A70; }

.mode-container {
  padding-top: 330px; }

.detail-view h3,
.list-view h3 {
  color: #444444;
  font-size: 2.5rem; }

.detail-view h3, .detail-view h4,
.list-view h3,
.list-view h4 {
  padding-bottom: 10px; }

.detail-view h3 + h4,
.list-view h3 + h4 {
  margin-top: 0; }

.detail-view .content-block,
.list-view .content-block {
  padding-bottom: 30px; }
  .detail-view .content-block ul, .detail-view .content-block ol,
  .list-view .content-block ul,
  .list-view .content-block ol {
    padding-bottom: 10px; }

.detail-view .full-scale-img,
.list-view .full-scale-img {
  width: 100%; }

.detail-view .introduction,
.list-view .introduction {
  background-color: #f2f2f2;
  padding: 20px 0;
  border-top: 1px solid #ffffff;
  color: #444444;
  border-bottom: 1px solid #e7e7e7; }
  .detail-view .introduction p,
  .list-view .introduction p {
    line-height: 180%;
    font-size: 1.8rem; }
  @media (min-width: 768px) {
    .detail-view .introduction,
    .list-view .introduction {
      text-align: center; } }

.detail-view .meals,
.list-view .meals {
  float: left;
  width: 100%; }
  .detail-view .meals .meal,
  .list-view .meals .meal {
    float: left;
    width: 25%; }
    @media (max-width: 1200px) {
      .detail-view .meals .meal,
      .list-view .meals .meal {
        width: 50%; } }
    @media (max-width: 768px) {
      .detail-view .meals .meal,
      .list-view .meals .meal {
        width: 100%; } }
    .detail-view .meals .meal a,
    .list-view .meals .meal a {
      display: block;
      text-decoration: none;
      padding-bottom: 20px; }
      .detail-view .meals .meal a img,
      .list-view .meals .meal a img {
        width: 100%;
        margin-bottom: 10px; }
      .detail-view .meals .meal a .sub-title,
      .list-view .meals .meal a .sub-title {
        padding-bottom: 0; }

.detail-view .title,
.list-view .title {
  color: #1F8A70;
  padding: 30px 0; }
  @media (max-width: 768px) {
    .detail-view .title,
    .list-view .title {
      padding-top: 0; } }
  @media (max-width: 480px) {
    .detail-view .title,
    .list-view .title {
      font-size: 2.8rem; } }

.detail-view .meet-chef,
.list-view .meet-chef {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2; }
  .detail-view .meet-chef .chef-intro p,
  .list-view .meet-chef .chef-intro p {
    line-height: 180%;
    font-size: 1.8rem; }
  .detail-view .meet-chef .chef-image,
  .list-view .meet-chef .chef-image {
    padding: 30px 0; }
    @media (max-width: 768px) {
      .detail-view .meet-chef .chef-image,
      .list-view .meet-chef .chef-image {
        display: none; } }

.block {
  float: left; }

.button {
  text-transform: uppercase; }
  .button .glyphicon {
    margin-right: 12px; }

.aux-nav {
  padding-top: 20px; }

.content-controls {
  border-bottom: 1px solid #BEDB39;
  margin: 20px 0;
  overflow: auto; }
  .content-controls ul {
    padding-bottom: 10px; }

.centered-copy {
  text-align: center;
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    .centered-copy {
      text-align: left; } }

.footer {
  border-top: 10px solid #BEDB39;
  padding: 30px;
  background-color: #444444;
  color: #ffffff; }

.most-cooked {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f2f2f2;
  padding: 20px 0; }

.social-media {
  padding: 60px 0; }
  .social-media blockquote {
    border: none;
    background: url("/images/testimonial-quote.png") 0 0 no-repeat;
    padding: 40px 0 0 0; }

.media-links {
  width: 100%;
  float: left;
  margin-top: 40px; }
  .media-links span {
    display: none; }
  .media-links li {
    float: left;
    margin: 0;
    padding: 0 10px;
    width: 20%;
    text-align: center; }
  .media-links a {
    display: block;
    text-decoration: none;
    font-size: 1.8em;
    padding-top: 20px;
    border-top: 1px solid #BEDB39; }
