@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
h1, .meal-hero .introduction, .detail-view .meal .item a .title,
.list-view .meal .item a .title {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.75); }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  line-height: 100%; }

select, input {
  font-family: 'Ubuntu'; }

.large-font {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 110%; }
  @media (max-width: 480px) {
    .large-font {
      font-size: 3.4rem;
      line-height: 120%; } }

p {
  padding: 0;
  margin: 0;
  line-height: 150%; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

body {
  font-family: 'Ubuntu';
  font-size: 1.6rem; }

h1 {
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 70px; }
  @media (max-width: 480px) {
    h1 {
      font-size: 3rem;
      text-align: center; } }

a {
  color: #1F8A70;
  text-decoration: underline; }
  a:hover {
    color: #004358;
    text-decoration: none; }

.top-bar {
  height: 70px;
  border-bottom: 1px solid #BEDB39;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }

.meal-hero {
  height: 500px;
  position: relative; }
  .meal-hero .hero-image,
  .meal-hero .hero-video {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
  .meal-hero .hero-video {
    background: url("../images/pepper-soup.jpg") 0 0 no-repeat #323232;
    background-size: cover; }
    .meal-hero .hero-video.off-screen {
      top: -500px; }
  .meal-hero .form-box {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -50%; }
  .meal-hero .meal-picker {
    padding-top: 30px;
    text-align: center; }
    .meal-hero .meal-picker .btn, .meal-hero .meal-picker select {
      text-transform: uppercase;
      padding: 10px 14px;
      margin: 0 5px;
      outline: none;
      border: none;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      display: inline-block; }
    .meal-hero .meal-picker select {
      cursor: pointer;
      padding: 10px 14px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
      @media (max-width: 768px) {
        .meal-hero .meal-picker select {
          display: inline-block; } }
  .meal-hero .introduction {
    color: #ffffff;
    text-align: center; }
    .meal-hero .introduction .title span {
      position: relative; }

.detail-view h2, .detail-view h3,
.list-view h2,
.list-view h3 {
  color: #FD7400; }

.detail-view h3, .detail-view h4,
.list-view h3,
.list-view h4 {
  padding-bottom: 10px; }

.detail-view h3 + h4,
.list-view h3 + h4 {
  margin-top: 0; }

.detail-view .content-block,
.list-view .content-block {
  padding: 20px 0; }
  .detail-view .content-block ul, .detail-view .content-block ol,
  .list-view .content-block ul,
  .list-view .content-block ol {
    padding-bottom: 10px; }

.detail-view .introduction,
.list-view .introduction {
  font-size: 1.8rem;
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3; }

.detail-view .meal .item,
.list-view .meal .item {
  margin-bottom: 25px; }
  .detail-view .meal .item a,
  .list-view .meal .item a {
    position: relative;
    text-decoration: none;
    display: block; }
    .detail-view .meal .item a img,
    .list-view .meal .item a img {
      width: 100%; }
    .detail-view .meal .item a .title,
    .list-view .meal .item a .title {
      position: absolute;
      bottom: 40px;
      left: 0;
      color: #ffffff;
      font-size: 2.7rem;
      font-weight: bold;
      width: 100%; }
    .detail-view .meal .item a .glyphicon,
    .list-view .meal .item a .glyphicon {
      display: none; }
  .detail-view .meal .item .quick-description,
  .list-view .meal .item .quick-description {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    color: #444444;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3; }
  .detail-view .meal .item span,
  .list-view .meal .item span {
    padding: 10px 15px;
    display: block;
    text-align: left; }
  @media (max-width: 992px) {
    .detail-view .meal .item,
    .list-view .meal .item {
      margin-bottom: 5px; }
      .detail-view .meal .item a .title,
      .list-view .meal .item a .title {
        position: static;
        color: #444444;
        background-color: #f0f0f0;
        border: 1px solid #e3e3e3;
        text-shadow: none;
        font-size: 1.8rem;
        font-weight: 100;
        padding: 8px 10px; }
      .detail-view .meal .item a .glyphicon,
      .list-view .meal .item a .glyphicon {
        display: block;
        position: absolute;
        right: -4px;
        top: 0;
        font-size: 2.5rem;
        color: #444444; }
      .detail-view .meal .item a img,
      .list-view .meal .item a img {
        display: none; }
      .detail-view .meal .item .quick-description,
      .list-view .meal .item .quick-description {
        display: none; } }
  .detail-view .meal .item:hover .quick-description,
  .list-view .meal .item:hover .quick-description {
    background-color: #d8d8d8;
    color: #000000; }

.detail-view .title,
.list-view .title {
  color: #FD7400;
  text-align: center;
  padding: 30px; }
  @media (max-width: 480px) {
    .detail-view .title,
    .list-view .title {
      font-size: 2.8rem;
      padding: 15px; } }

.detail-view .sub-module,
.list-view .sub-module {
  padding-bottom: 35px; }
  .detail-view .sub-module .title,
  .list-view .sub-module .title {
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
    font-weight: bold; }
  @media (max-width: 480px) {
    .detail-view .sub-module .title,
    .list-view .sub-module .title {
      font-size: 1.8rem; }
    .detail-view .sub-module:first-child,
    .list-view .sub-module:first-child {
      padding-bottom: 15px;
      padding-top: 15px; } }

.content-controls {
  border-bottom: 1px solid #BEDB39;
  margin-bottom: 15px; }

.centered-copy {
  text-align: center; }

.footer {
  border-top: 10px solid #BEDB39;
  height: 200px;
  background-color: #444444; }
