<!doctype html>
<html ng-app="yamApp">
<head>
    <title>Pound That Yam</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>
<body scroll ng-controller="mainController as main">

    <div class="top-bar top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <span class="mortar-and-pestle"></span>
                        <span class="text">Pound That Yam</span>
                    </h1>

                    <ul class="nav navbar-nav navbar-right aux-nav">
                        <li>
                            <a ng-click="main.showMealMenu()">
                                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                <span class="text">Menu</span>
                            </a>
                        </li>
                        <li><a ng-click="main.resetMeal()" ng-show="main.shouldShowAuxMenu">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span class="text">Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="meal-hero">
        <div class="hero-image" ng-style="{'background-image': 'url(images/' + main.getHeroImageBackground() + ')'}">&nbsp;</div>
        <div class="hero-video" ng-class="{'on-screen':main.shouldShowVideo}">&nbsp;</div>

        <div class="container mode-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-and-form">
                        <div class="introduction copy" ng-show="main.shouldShowForm">
                            <h2 class="landing-title">
                                Pick&nbsp;the&nbsp;meal, cook&nbsp;the&nbsp;meal,<br>
                                Or&nbsp;just shop&nbsp;the&nbsp;meal.
                            </h2>
                        </div>
                        <div class="introduction copy" ng-show="main.shouldShowCookHeader">
                            <h2 class="title">{{ main.selectedMeal.description }}</h2>
                        </div>

                        <button type="button" class="btn btn-default btn-menu" ng-click="main.showMealMenu()">
                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                            <span class="text">Pick a meal</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div modal="showModal" class="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="meal in main.meals">
                            <a ng-click="main.selectThisMeal(meal)">{{meal.title}}</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button class="btn btn-success" ng-click="ok()">Okay</button>-->
                    <!--<button class="btn" ng-click="main.cancel()">Cancel</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div id="wrap" ng-view></div>

    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="media-links">
                    <ul class="nav navbar-nav" ng-model="main.socialLinks">
                        <li ng-repeat="socialLink in main.socialLinks">
                            <a href="{{socialLink.url}}" target="_blank">
                                <i class="fa {{socialLink.icon}}" aria-hidden="true"></i>
                                <span>{{socialLink.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centered-text">
            <p>Copyright &copy; 2017 Pound That Yam. All&nbsp;rights&nbsp;reserved.<br>
                Modern Kode Ltd, Company No. 10594333.</p>
        </div>

    </div>

    <!--build:js js/app.min.js -->
    <script src="js/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/detailController.js"></script>
    <script src="services/mealsService.js"></script>
    <script src="services/siteContentService.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/mainController.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-ui-bootstrap-modal.js"></script>
    <!-- endbuild -->
</body>
</html>