<!doctype html>
<html ng-app="yamApp">
<head>
    <title>Pound That Yam</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>
<body scroll ng-controller="mainController as main">

<div class="top-bar top">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h1>
                    <span class="mortar-and-pestle"></span>
                    <span class="text">Pound That Yam</span>
                </h1>
            </div>
            <div class="col-xs-3 text-right aux-nav" ng-class="{'show-me':main.shouldShowAuxMenu}">
                <a ng-click="main.resetMeal()">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </div>
        </div>
    </div>
</div>

    <div class="meal-hero">
        <div class="hero-image" ng-style="{'background-image': 'url(images/' + main.getHeroImageBackground() + ')'}">&nbsp;</div>
        <div class="hero-video" ng-class="{'on-screen':main.shouldShowVideo}">&nbsp;</div>

        <div class="container mode-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-and-form">
                        <div class="introduction copy" ng-class="{'show-me':main.shouldShowForm}">
                            <h2 class="landing-title">
                                Pick&nbsp;the&nbsp;meal, cook&nbsp;the&nbsp;meal,<br>
                                Or&nbsp;just shop&nbsp;the&nbsp;meal.
                            </h2>
                        </div>
                        <div class="introduction copy" ng-class="{'show-me':main.shouldShowCookHeader}">
                            <h2 class="title">{{ main.selectedMeal.description }}</h2>
                        </div>
                        <form name="mealPicker" class="meal-picker">
                            <select ng-model="main.selectedMeal" ng-options="meal.title for meal in main.meals">
                                <option value="" selected="selected" class="option-none" style="display: none">List of meals</option>
                            </select>
                            <!--<input class="button btn"-->
                                   <!--type="button"-->
                                   <!--title="Select"-->
                                   <!--value="Select"-->
                                   <!--ng-class="{'disabled btn-default':main.selectedMeal == null, 'btn-primary':main.selectedMeal != null}"-->
                                   <!--ng-disabled="main.selectedMeal == null"-->
                                   <!--ng-click="main.selectThisMeal()" />-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrap" ng-view></div>

    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="col-md-push-2 col-md-8">
                    <ul class="media-links" ng-model="socialLinks">
                        <li ng-repeat="socialLink in socialLinks">
                            <a href="{{socialLink.url}}" target="_blank">
                                <i class="fa {{socialLink.icon}}" aria-hidden="true"></i>
                                <span>{{socialLink.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centered-text">
            <p>Copyright &copy; 2017 Pound That Yam. All&nbsp;rights&nbsp;reserved.<br>
                Modern Kode Ltd, Company No. 10594333.</p>
        </div>

    </div>

    <!--build:js js/app.min.js -->
    <script src="js/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/detailController.js"></script>
    <script src="services/mealsService.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/mainController.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-sanitize.min.js"></script>
    <!-- endbuild -->
</body>
</html>