<div class="detail-view">

    <div class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about" ng-bind-html="about"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="cook-meal">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="centered-copy">
                        <h2 class="title">How to cook {{selectedMeal.title}}</h2>
                        <p class="strapline">It's easier than you think.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-push-2">
                    <h3>Ingredients</h3>
                    <ul>
                        <li ng-repeat="ingredient in ingredients">
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5 col-sm-push-2">
                    <h3>Instructions</h3>
                    <ul>
                        <li ng-repeat="instruction in instructions">
                            {{ instruction }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="video">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-push-1">
                        <div class="centered-text">
                            <h2 class="title">Watch chef do it</h2>
                            <p class="strapline">Detailed instructions are one thing, watching someone do it is another.</p>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rDuetklFtDQ"></iframe>
                        </div>
                        <div class="centered-text">
                            <p>How did chef do, how did you do? <a href="#">Feedback</a> welcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-meal">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                    <div class="centered-copy">
                        <h2 class="title">Shop the meal it instead, post code?</h2>
                        <form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>