<div class="detail-view">

    <div class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about" ng-bind-html="about"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="meal-detail">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="centered-copy">
                        <h2 class="title">How to cook {{selectedMeal.title}}</h2>
                        <p class="strapline">It's easier than you think.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-1">
                    <h3>Ingredients</h3>
                    <ul>
                        <li ng-repeat="ingredient in ingredients">
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-sm-push-1">
                    <h3>Instructions</h3>
                    <ul>
                        <li ng-repeat="instruction in instructions">
                            {{ instruction }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>