<div class="detail-view">

    <div class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about" ng-bind-html="about"></div>
                    <p ng-repeat="paragraph in selectedMeal.about">
                        {{ paragraph }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="cook-meal">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="centered-text">
                        <h2 class="title">How to cook {{selectedMeal.title}}</h2>
                        <p class="strapline">{{selectedMeal.strapline}} <span class="pipe">|</span> {{selectedMeal.time}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="steps">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-push-3">
                        <h3 class="sub-title">Ingredients</h3>
                        <ul>
                            <li ng-repeat="ingredient in selectedMeal.ingredients">
                                {{ ingredient }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-push-3">
                        <h3 class="sub-title">Instructions</h3>
                        <ul>
                            <li ng-repeat="instruction in selectedMeal.instructions">
                                {{ instruction }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="video">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-push-1">
                        <div class="centered-text">
                            <h2 class="title">Watch the chef cook it</h2>
                            <p class="strapline">Detailed instructions are one thing, watching someone do it is another.</p>
                        </div>
                        <div id="fullPlayer" class="unselectable" ng-cloak>
                            <div class="embed-responsive embed-responsive-16by9">
                                <video id="videoEl" width="100%" ng-src="{{videoSource}}"></video>
                            </div>
                        </div>
                        <div class="centered-text feedback">
                            <p>How did chef do, how did you do? <a href="#">Feedback</a> welcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-meal">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                    <div class="centered-copy">
                        <h2 class="title">Shop the meal instead, post code?</h2>
                        <form class="form-inline">
                            <div class="form-group mx-sm-3">
                                <label for="post-code" class="sr-only">Post code</label>
                                <input type="text" class="form-control" id="post-code" placeholder="Post code">
                            </div>
                            <button type="submit" class="btn btn-find">Find closet shop</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>