
<div class="list-view">

    <div class="introduction">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <p class="centered-text">
                        Learn to cook a nigerian dish today, it's simpler than you might think.<br />
                        Read through the recipes, learn new ones, add to what you know when you see a familiar recipe. <br />
                        Enjoy and share your experiences.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="meet-chef">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-md-push-1 chef-image">
                    <img src="images/the-chef.jpg" class="full-scale-img" alt="">
                </div>
                <div class="col-md-6 col-md-push-1">
                    <div class="chef-intro">

                        <div class="centered-vertical">

                            <h2 class="title">The chef will see you now</h2>
                            <p>I will be giving the classes, what would you like to cook?
                                Watch slideshow or videos of me cooking the meal right from scratch, using ingredients you can find in your local Afro-Caribbean stores.</p>
                            <p>Leave comments at the bottom of each video.  Happy cooking.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="most-cooked">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="centered-copy">
                        <h2 class="title">Most cooked meals</h2>
                        <p>Some of our meals and how many times they have been cooked this month. <br><a href="#">Registered users</a> can add to this list, and submit to the restaurant list</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <ul class="meals">
                        <li ng-repeat="meal in meals" class="meal">
                            <a href="#/cook/{{ meal.id }}" class="centered-copy">
                                <img ng-src="images/{{ meal.image }}" alt="" />
                                <h3 class="sub-title">{{ meal.title }}</h3>
                                <p class="times-cooked">Cooked {{meal.count}} times</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="our-testimonials">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="centered-text">
                        <h2 class="title">Stuff people have said</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <blockquote>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>Clearly I must have put too much scotch bonnets into my Jollof rice mix, I nearly burned my tongue off.</p>
                        <footer>Titi Adesanya</footer>
                    </blockquote>
                </div>
                <div class="col-sm-4">
                    <blockquote>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>My beans came out perfect, first time too, okay I confess I did have help from my girl friend.</p>
                        <footer>Donald Trump</footer>
                    </blockquote>
                </div>
                <div class="col-sm-4">
                    <blockquote>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>The prices are as good as the menu! Each time I spend less money, than anywhere else and get a fresh, homemade dinner!</p>
                        <footer>Arsene Wenger</footer>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>

</div>