
<div class="list-view">
    <div class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        Learn to cook a nigerian dish today, it's simpler than you might think.<br />
                        Read through the recipes, learn new ones, add to what you know when you see a familiar recipe. <br />
                        Enjoy and share your experiences.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="lined">

        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-1">
                    <img src="images/the-chef.jpg" class="full-scale-img" alt="">
                </div>
                <div class="col-sm-6 col-sm-push-1">
                    <div class="chef-intro">

                        <h2 class="title">The chef will see you now</h2>
                        <p>I will be giving the classes today, what would you like to cook?</p>
                        <p>Along with detailed instructions, watch a slide show or video of me cooking the meal right from scratch, using ingredients you can find in your local Afro-Caribbean stores.</p>
                        <p>Leave any comments and tips at the end of each video.</p>
                        <p>Happy cooking.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container">





        <div class="row">
            <div class="col-xs-12">
                <h2 class="title centered">Most cooked meals</h2>
                <p>Registered users get to log how many times a meal is cooked, competition.</p>
            </div>
        </div>
        <div class="row">

            <div class="meal col-xs-12 col-md-4" ng-repeat="meal in meals">
                <div class="item">
                    <a href="#/cook/{{ meal.id }}">
                        <img ng-src="images/{{ meal.image }}" alt="" />
                        <span class="title">{{ meal.title }} ({{meal.count}})</span>
                        <span class="glyphicon glyphicon-menu-right"></span>
                        <span class="quick-description">{{ meal.quote }}</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container centered-copy">

        <div class="row">
            <div class="col-xs-12 col-sm-6 sub-module">
                <h3 class="title">Submit a meal</h3>
                <p>Donec et leo rhoncus, aliquam nsectetnsectetur telc,</p>
                <p>Lnon faucibus condimentum.</p>
            </div>
            <div class="col-xs-12 col-sm-6 sub-module">
                <h3 class="title">Submit a restaurant</h3>
                <p>You'll need to be <a href="#">registered</a> to do this.</p>
                <p>Some more talk about submitting a restaurant.</p>
            </div>
        </div>



    </div>
</div>